*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.activeIcon {
  color: #bcac76;
  transition: 300ms;
}
.top-navbar {
  font-size: 15px;
  background-color: #e8ecf0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socialmediaIcons {
  display: flex;
  column-gap: 20px;
  cursor: pointer;
  margin-left: 35px;
}
#nav-text {
  transform: scaleX(0.9);
  position: relative;
  font-size: 13px;
  margin-right: 35px;
}
.navbar {
  font-size: 13px;
  display: flex;
  width: fit-content;
  align-items: center;
  column-gap: 40px;
}
.socialmediaIcons i:hover {
  color: #d5be71;
  transition: 0.3s ease-in;
}
.navbar div {
  display: flex;
  gap: 10px;
}
.navbar div #phoneNumber {
  font-size: 13px;
  margin-top: 5px;
}
.sellectionsLang {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 10px;
  font-size: 14px;
}
 #dropdownLanguage {
  border: none;
  border-right:1px solid rgba(48, 52, 57, 0.086);
}
#valueLanguage, #dropdownLanguage{
  cursor: pointer;
}
.sellectionsLang div {
  display: flex;
  align-items: center;
  gap: 3px;
}
.sellectionsLang div i {
  font-size: 13px;
  font-weight: 700;
  position: relative;
  transform: rotate(180deg);
  transition-duration: 0.2s;
}
.sellectionsLang div .Rotate {
  transform: rotate(360deg);
  transition-property: transform;
  transition-duration: 0.2s;
}

.options div {
  display: flex;
  flex-direction: column;
}
.options a {
  padding: 5px 10px;
}
.options a:active {
  color: #bcac76;
}
.options .dropdown {
  right: 130px;
  background-color: white;
  width: max-content;
  overflow: hidden;
  box-shadow: rgba(112, 112, 123, 0.2) 0px 5px 20px 0px;
  position: absolute;
  color: #868e96;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 70px 10px 10px;
  top: 80px;
  opacity: 0;
  transition: all 0.2s;
}
.options .DropAnimate {
  opacity: 1;
  top: 45px;
  z-index: 1;
}
.options .DropAnimate a:hover {
  cursor: pointer;
  color: black;
}
.options .valueDropdown {
  right: 61px;
  padding: 9px 80px 9px 15px;
}
/* Menus & Icons & Logo start */
.main-navbar {
  transform: scaleY(1.05);
  padding: 27px 47px;
  display: flex;
  align-items: center;
  gap: 22px;
  color: #868e96;
  justify-content: space-between;
  margin-right: 15px;
}
.main-navbar h1 {
  font-size: 15px;
  text-transform: capitalize;
  cursor: pointer;
  color: black;
}
.icons {
  display: flex;
  gap: 20px;
}
.sign, .signScnd {
  position: absolute;
  top: 20px;
  right: 115px;
  font-size: 12px;
  padding: 3px 7px;
  border-radius: 50%;
  background: #bcac76;
  color: white;
}
.signScnd {
  top: 20px;
  right: 75px;
}
.icons i {
  font-size: 1.5rem;
}
.icons i:hover {
  color: #bcac76 !important;
  cursor: pointer;
  transition: 300ms;
}
body .main-navbar .lineBlack {
  border-color: black;
  transition: all 500ms;
}
 #searchbutton {
  transition-property: border;
  transition: boder 500ms;
  margin-right: 50px;
  border-bottom: 1px solid rgba(170, 180, 189, 0.514);
  padding-bottom: 5px ;
  outline: none;
}
 #searchbutton i {
  font-size: 17px;
  color: rgba(0, 0, 0, 0.719);
  padding: 5px 20px;
  cursor: pointer;
}
.main-navbar #searchbutton input {
  border: none;
  outline: none;
  width: 200px;
}
#searchbutton input::-moz-placeholder {
  font-size: 15px;
  font-weight: 600;
  color: rgb(182, 182, 182);
  padding: 10px 15px;
}
#searchbutton input::placeholder {
  font-size: 15px;
  font-weight: 600;
  color: rgb(182, 182, 182);
  padding: 10px 15px;
}
.Logo {
  color: rgba(0, 0, 0, 0.389);
  display: flex;
  gap: 15px;
  align-items: center;
  font-weight: 600;
}
.Logo #homeBtn,
.Logo #homeIcon {
  color: black;
}
.menu {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 15px;
}
.menu i {
  font-size: 12px;
  font-weight: 900 ;
  transition-duration: 300ms;
}
.menu .Rotate {
  transform: rotate(180deg);
  transition-property: transform;
  transition-duration: 300ms;
}
.menu  {
  cursor: pointer;
}
.Logo div:hover ,
.Logo div:hover i {
  color: black;
  cursor: pointer;
}
.home-dropdown {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 6px;
  right: 125px;
}
.shop-dropdown {
  left: 140px;
  display: flex;
  width: max-content;
}
.shop-dropdown h1 {
  color: black;
  font-size: 14px;
  padding: 8px;
  font-weight: 600;
}
.shop-dropdown div {
  display: flex;
  flex-direction: column;
  padding: 50px 0px 50px 20px;
}
.shop-dropdown div a {
  padding: 8px;
}
.shop-dropdown img {
  width: 290px;
  object-fit: cover;
  padding-left: 30px;
}
.pages-dropdown {
  display: flex;
  gap: 35px;
  padding: 60px;
  transform: translate(-50%, 0%);
  left: 50% !important;
}
.pages-dropdown img {
  width: 255px;
  height: 155px;
}
.pages-dropdown h1 {
  color: black;
  font-size: 14px;
  padding: 20px 15px 8px 15px;
  font-weight: 600;
}
.pages-dropdown .HomePage {
  display: flex;
  flex-direction: column;
}
.pages-dropdown .HomePage a {
  padding: 8px 0 5px 15px !important;
}
.pages-dropdown .otherProcess {
  display: flex;
  flex-direction: column;
}
.pages-dropdown .blog {
  display: flex;
  flex-direction: column;
}
.pages-dropdown .customer {
  display: flex;
  flex-direction: column;
}
.icons-dropdown {
  left: 255px !important;
}
#iconend p{
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 15px;
  background-color: #c6b47a;
  color: black;
  padding: 15px ;
  margin-top: 30px;
}
.allicons1 {
  display: flex;
}
.allicons2{
  display: flex;
}
.allicons2 .pageicons{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 23px ;
  color: rgba(0, 0, 0, 0.869);
  font-weight: 700;
}
.allicons1 .pageicons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 23px;
  color: rgba(0, 0, 0, 0.869);
  font-weight: 700;
}
.allicons1 .pageicons img {
  margin-bottom: 20px;
  margin: 10px 12px;
}
.allicons2 .pageicons img {
  margin-bottom: 20px ;
  margin: 10px 12px ;
}
.menus-dropdowns a {
  text-decoration: none;
  color: currentColor;
  cursor: default;
}

.docs-dropdown {
  display: flex;
  flex-direction: column;
  padding: 10px 5px !important;
  left: 400px !important;
  color: rgba(47, 50, 53, 0);
}
.docs-dropdown a {
  padding: 25px 0px;
}
.docs-dropdown #Bootstrap {
  border-top: 1px solid rgba(51, 55, 59, 0);
  margin-top: 10px !important;
}

.menus-dropdowns .dropdown {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2);
  position: absolute;
  color: #868e96;
  font-size: 15px;
  font-weight: 400;
  width: max-content;
  top: 180px;
  left: 120px;
  opacity: 0;
  transition: all 200ms;
}
.menus-dropdowns .dropdown a {
  padding: 8px 25px 5px 15px !important;
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 500;
  transform: scaleY(1.05);
}
.menus-dropdowns .dropdown a span {
  color: #bcac76;
  background-color: #f7f5ef;
  border-radius: 5px;
  font-size: 10px;
  padding: 2px 5px !important;
  margin-left: 5px ;
  font-weight: 700;
}
body .showmenus {
  opacity: 1 !important;
  top: 130px !important;
  transition-duration: 300ms;
  z-index: 1;
}
body .showmenus a:hover {
  color: black !important;
  cursor: pointer;
}  
/* Menus & Icons & Logo End */
/* History Varkala start */
.blackLine{
  border-top: 1px solid black;
  margin-left: 40px;
  width: 90px;
  margin-top: 10px;
}
.about-us{
  margin-top: 80px;
  margin-left: 5%;
  display: flex;
  margin-bottom: 150px;
}
.aboutInfo{
  padding-left: 90px;
}
.aboutInfo span{
  padding-left: 15px;
  color: #bcac76;
  font-size: 14px;
  font-weight: bold;
}
.aboutInfo h1{
  padding-top: 40px;
  font-size: 72px;
  padding-bottom: 60px;
}
.aboutInfo p{
  font-size: 20px;
  line-height: 15px;
  font-weight: 600;
  color: #989898;
}

.aboutImgs{
  display: flex;
  margin-top: -100px;
  margin-left: 100px;
}
.img-left img{
  height: 534.74px;
}
.img-right{
  padding-left: 110px;
  padding-top: 200px;
}
.img-right span{
  color: #727272;
  padding-right: 15px;
  font-weight: bolder;
  font-size: 17px;
}
.img-right h4{
  padding: 15px 0;
  font-size: 32px;
  color: #212529;
}
.img-right p{
  font-size: 16px;
  color: #707070;
  font-weight: 600;
  line-height: 15px;
}
.aboutrightImg img{
  width: 460px;
  height: 280px;
  margin-top: 170px;
  margin-left: 100px;
}
.img-text{
  padding-top: 200px;
}
.img-text span{
  color: #727272;
  padding-right: 15px;
  font-weight: bolder;
  font-size: 17px;
}
.img-text h4{
  padding: 15px 0;
  font-size: 32px;
  color: #212529;
}
.img-text p{
  font-size: 16px;
  font-weight: 600;
  line-height: 15px;
  color: #989898;
}
/* History Varkala end */
/* Varkala Years start */
.varkala-milestone{
  margin-top: 100px;
  display: flex;
  padding-top: 80px;
  padding-left: 80px;
  height: 500px;
  background-color: whitesmoke;
}
.years{
  padding-left: 150px;
  margin-top: -30px;

}
.years1,.years2{
  display: flex;
  gap: 60px;
}
.stones strong{
  padding-top: 30px !important;
  font-size: 32px;
}
.stones p{
  color: #7f7f7f;
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;
}
.number-year p{
  padding-bottom: 40px;
  color: #7f7f7f;
  line-height: 15px;
}
.number-year strong{
  padding-bottom: 15px;
  font-size: 32px;
}
/* Varkala Years end */

.women{
  display: flex;
  margin-top: 100px;
}
.wm-left img{
  height: 374px;
  width: 374px;
  margin-left: 100px;
  border-radius: 50%;
}
.wm-right{
  margin-left: 100px;
}
.wm-right i{
  font-size: 40px;
}
blockquote :first-child{
  font-size: 25px;
  line-height: 20px;
  color: black;
  font-weight: 500;
}
blockquote span{
  font-size: 25px;
  color: #bcac76;
  font-weight: 700;

}
blockquote :last-child{
  padding-top: 20px;
  color: #727272;
  line-height: 20px;
}
  /* margin-top: 15px !important; */
.team{
  padding-top: 150px;
  padding-left: 20%;
}
.employee span{
  color: #bcac76;
  padding-right: 15px;
  font-weight: bolder;
  font-size: 20px;
}
.employee h1{
  padding-top: 20px;
  /* padding-bottom: 40px; */
  font-size: 72px;
  font-weight: 700;
}
.employee p{
  color: #656565;
  font-weight: 500;
}
.employee-1,.employee-2{
  display: flex;
  gap: 80px;
}
.employees{
  margin-top: 80px;
  margin-left: 30px;
}
.employee-info{
  text-align: center;
  margin-bottom: 60px;
}
.employee-info img{
  height: 160px;
  width: 160px;
  border-radius: 50%;
}
.employee-info p{
  font-weight: bolder;
  font-size: 16px;
  margin-top: 10px;
}
.employee-info span{
  font-size: 14px;
  color: #595959;
}
#blackLine{
  border-top: 1px solid black;
  margin-left: -170px;
  width: 90px;
}
/* Brand Piece start */
.client-piece{
  padding: 100px 0 0;
}
.client-piece{
  height: 350px;
  background-color: whitesmoke;
}
.varkalaTshirt{
  text-align: center;
}
.varkalaTshirt h2{
  font-size: 32px;
  color: #212529;
  padding-top: 120px;
  padding-bottom: 90px;
}
.tsh-text{
  display: flex;
  justify-content: center;
  font-weight: 600;
  gap: 70px;
  color: #797676;
  font-size: 15px;
  line-height: 15px;
}
.slick-slide{
  margin: 0 20px;
}
.slick-slide img{
  height: 100px;
  width: 100px;
}
.slick-list{
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus{
  outline: none;
}
.slick-slide{
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
.slick-slide img{
  display: block;
}
.slick-initialized .slick-slide{
  display: block;
}
.slick-loading .slick-slide{
  visibility: hidden;
}
.slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-left: -80px;
  padding: 1rem 0;
  list-style-type: none;
}
.slick-dots li {
  margin: 0 0.25rem;
}
.slick-dots button {
  display: block;
  width: 5.28px;
  height: 5.28px;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color:#989898;
  text-indent: -9999px;
}
.slick-dots li.slick-active button {
  background-color:#c1af73;
  margin-top: -2px;
  width: 9px;
  height: 9px;
}
/* Brand Area end */
/* Varkala Service System star */
.varkalaService{
  margin-top: 8%;
  background-color: #f8f9fa;
  padding-top: 6rem;
  padding-bottom: 6rem;
  gap: 70px;
  display: flex;
  justify-content: center;
}
.money,.price,.shipping,.support{
  display: flex;
}
.service-info p{
  padding-top: 10px;
  font-size: 14px;
}
.service-info :first-child{
  font-weight: bold;
}
.service-info :last-child{
  color: #868e96;
}
.varkalaService .service-img{
  margin-top: 10px;
  margin-right: 15px;
}
/* Varkala Service System end */
/* Varkala Footer piece start */
.footer{
  display: flex;
}
.touch{
  margin-top: 7%;
  margin-left: 5%;
  margin-bottom: 10%;
}
.emailAdress input{
  padding-bottom: 10px;
  width: 390px;
  font-size: 16px;
  font-weight: bolder;
  margin-left: 30px;
}
.footer-text {
  white-space: nowrap;
  font-size: 1rem;
  padding-bottom: 20px;
  font-weight: bold;
  margin-left: 30px;
}
#lorem{
  margin-left: 30px;
}
.touch :nth-child(2){
  font-size: .875rem;
  color: #777d83;
  margin-bottom: 30px;
  font-weight: 600;

}
.emailAdress input{
  font-size: 15px;
  border: none;
  
}
.emailAdress img{
  position: absolute;
  margin: -0px 0 0 -40px;
}
.optionsList{
  display: flex;
}
.menusList{
  margin-top: 110px;
  padding-left: 30%;
}
.menusList a{
  text-decoration: none;
  color:#868e96;
}
.menusList li{
  list-style: none;
  padding-top: 5px;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 600;
}
.footerEnd{
  display: flex;
  color: #a4acb3;
  justify-content: space-around;
  padding-left: 70px;
  padding-top: 50px;
  padding-bottom: 60px;
}
.footerEnd ul{
  display: flex;
  margin-left: 50px;
  margin-top: 30px;
}
.footerEnd p{
  font-size: 13px;
  margin-top: 30px;
  margin-right: 20px;
}
.footerEnd a{
  text-decoration: none;
  color: #b4bbc3;

}
.footerEnd li{
  font-size: 13px;
  list-style: none;
  padding-left: 20px;
}
.menusList li{
  position: relative;
  color: black;
}

.menusList li::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.menusList li:hover::after {
  transform: scaleX(1);
}